{% if section_settings.heading != blank or section_settings.description != blank %}
  {% liquid
    if header_alignment == blank
      assign header_alignment = settings.section_header_alignment
    endif

    if header_alignment_mobile == blank
      assign header_alignment_mobile = settings.section_header_alignment_mobile
      if header_alignment_mobile == 'inherit'
        assign header_alignment_mobile = header_alignment
      endif
    endif
    assign animation_effect = animation_effect
    if animation_effect == nil
      assign animation_effect = settings.animations
    endif
		assign animated = false
		if animation_effect != 'none'
			assign animated = true
		endif

    if header_layout == blank
      assign header_layout = section_settings.header_layout | default: 'vertical'
    endif
    
    assign header_class = 'section__header--' | append: header_layout
    assign header_text_alignment = header_alignment
    if header_layout == 'horizontal'
      assign header_class = header_class | append:' md:flex md:flex-col md:flex-row md:justify-between md:items-center'
      if header_alignment == 'right'
        assign header_class = header_class | append: ' md:flex-row-reverse'
      endif
      if header_alignment == 'center'
        assign header_text_alignment = 'left'
      endif
    endif

    unless custom_css_class == blank
        assign custom_css_class = custom_css_class | prepend: ' '
    endunless
  %}
    <div class="section__header {{ header_class }} spacing--{{ spacing | default: 'normal' }}{{ custom_css_class }}">
      <div class="section__header--text text-{{ header_alignment_mobile }} md:text-{{ header_text_alignment }}">
        {% if section_settings.subheading != blank %}
          <p class="section__subheading text-subheading{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section_settings.subheading }}</p>
        {% endif %}
        {% if section_settings.heading != blank %}
            <h2 class="section__heading {% if section_settings.heading_size %}{{ section_settings.heading_size }}{% endif %}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section_settings.heading }}</h2>
        {% endif %}
        {% if section_settings.description != blank %}
            <div class="section__description{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}">{{ section_settings.description }}</div>
        {% endif %}
      </div>
      {% if button_visible and button_label != blank %}
        <div class="section__header--button text-{{ header_alignment_mobile }} md:text-{{ header_alignment }}{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}">
          <a class="btn {{ button_style }}" href="{{ button_link }}" aria-label="{{ button_label }}">{{- button_label -}}</a>
        </div>
      {% endif %}
    </div>
{% endif %}