{{ 'collection-list-slider.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign section_id = section.settings.custom_id | default: section.id
    assign custom_class = section.settings.custom_class

    unless custom_class == blank
        assign custom_class = custom_class | prepend: ' '
    endunless
    assign container = section.settings.container

    assign banner_image_ratio = section.settings.banner_image_ratio | default: 'adapt'
    if banner_image_ratio == 'adapt'
      assign firstImage = section.blocks.first.settings.banner
      if firstImage != blank
        assign banner_image_ratio = firstImage.aspect_ratio
      else
        assign banner_image_ratio = 1
      endif
    endif

		assign animation_effect = settings.animations
		assign animated = false
		if animation_effect != 'none'
			assign animated = true
			if section.settings.animations != 'inherit'
				assign animation_effect = section.settings.animations
			endif
		endif

    assign loading = 'lazy'
    assign fetchpriority = 'low'
    if section.index < 2 and index == 1
      assign loading = 'eager'
      assign fetchpriority = 'high'
    endif

    assign total_pages = section.blocks.size

    assign controls_position = section.settings.controls_position
    assign controls_background = section.settings.controls_background
    assign pagination_class = 'flickity-pagination-bg--' | append: controls_background

    assign pagination_style = section.settings.pagination_type
    assign isPageDots = false
    if pagination_style == 'dots' and total_pages > 1
        assign isPageDots = true
    endif

    if controls_background == 'none' or controls_background == 'light'
      if controls_position == 'left' or controls_position == 'right'
        capture style
          echo '--spacing-offset: 1.4rem;'
        endcapture
      endif
    endif

    assign default_collection_name = 'onboarding.collection_title' | t
-%}
<div id="{{ section_id }}" class="collection-list-slider f-section-padding color-{{ section.settings.color_schema }}{{ custom_class }}" style="--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;">
  <div class="{{ container }}">
    <div class="flex flex-wrap">
      <div class="collection-list-slider__images w-full md:w-1/2 flex flex-col justify-center">
        <flickity-component
          id="collection-list-slider__images-{{ section.id }}"
          class="flickity-enable"
          data-enable-slider="true"
          data-slider-columns="1"
          data-disable-pointer-move="false"
          data-slider-options='{"sync": "#collection-list-slider__collections-{{ section.id }}", "pageDots": false, "prevNextButtons": false, "wrapAround": true, "adaptiveHeight": true, "cellSelector": ".collection-list-slider__banner"}'
        >
          {% for block in section.blocks %}
            <div class="collection-list-slider__banner w-full">
              <div class="flex items-center justify-center">
                {%- if block.settings.banner != blank -%}
                  {% render 'responsive-image', image: block.settings.banner, aspect_ratio: banner_image_ratio, section_index: section.index, index: forloop.index %}
                {%- else -%}
                  <div class="f-image" style="--aspect-ratio: {{ banner_image_ratio }};">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {%- endif -%}</div>
            </div>
          {% endfor %}
        </flickity-component>
      </div>
      <div class="collection-list-slider__collections w-full md:w-1/2 relative flex flex-col items-center justify-center">
        {% render 'index-section-header', animation_effect: animation_effect, section_settings: section.settings, header_alignment: 'center', header_alignment_mobile: 'center' %}
        <flickity-component
          id="collection-list-slider__collections-{{ section.id }}"
          class="f-grid f-grid--gap-medium f-grid-1-cols flickity-show-controls flickity-controls-group flickity-controls-group__bottom flickity-controls-group__bottom--{{ controls_position }} flickity-pagination--{{ pagination_style }} {{ pagination_class }} flickity-button-initialized"
          data-slider-options='{"pageDots": {{ isPageDots }}, "prevNextButtons": true, "wrapAround": true,  "cellSelector": ".f-column"}'
          data-enable-slider="true"
          data-slider-columns="1"
          style="--number-slides: {{ total_pages }};{{ style }}"
        >
        {% for block in section.blocks %}
          {% liquid 
            assign collection = collections[block.settings.collection]

            assign collection_image = blank
            if block.settings.image != blank
              assign collection_image = block.settings.image
            elsif collection.image != blank
              assign collection_image = collection.image  
            elsif collection.products.first and collection.products.first.images != empty
              assign collection_image = collection.products.first.featured_image
            endif

            assign image_ratio = section.settings.image_ratio | default: 'adapt'
            if image_ratio == 'adapt'
              if collection_image != blank
                assign image_ratio = collection_image.aspect_ratio
              else
                assign image_ratio = '1/1'
              endif
            endif

            assign collection_title = collection.title | default: default_collection_name
            if block.settings.heading != blank
              assign collection_title = block.settings.heading
            endif
          %}
          <div class="f-column w-full collection-list-slider__slide" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            <div class="block{% if animated %} f-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              <div class="collection-card text-center f-image-hover-effect__{{ settings.image_hover_effect }}">
                <div class="collection-card__image-wrapper f-card overflow-hidden">
                  <a
                    title="{{ collection_title }}"
                    href="{{ collection.url | default: "#" }}"
                    class="collection-card__wrapper block relative"
                  >
                    {% if collection_image != blank %}
                      {%- liquid
                        assign image_height = collection_image.width | divided_by: collection_image.aspect_ratio
                      -%}
                      <div class="f-image collection-card__image" style="--aspect-ratio: {{ image_ratio }};">
                        {{
                          collection_image
                          | image_url: width: 1500
                          | image_tag:
                            loading: loading,
                            fetchpriority: fetchpriority,
                            width: collection_image.width,
                            height: image_height,
                            sizes: '50vw',
                            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                            alt: collection_title
                        }}
                      </div>
                    {% else %}
                      <div class="collection-card__image" style="--aspect-ratio: {{ image_ratio }}">
                        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg f-image' }}
                      </div>
                    {% endif %}
                  </a>
                </div>
                <div class="collection-card__info">
                  <h3 class="collection-card__title m-0 font-body text-medium text-current">
                    <a
                      href="{{ collection.url | default: "#" }}"
                      class="collection-card__name btn--underline"
                    >
                      {{ collection_title }}
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if total_pages > 1 and pagination_style == 'counter' %}
          <div class="flickity-page-counter no-js-hidden hidden">
              <span class="flickity-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'sections.slideshow.of' | t }}</span>
              <span class="flickity-counter--total">{{ total_pages }}</span>
          </div>
        {% endif %}
        </flickity-component>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection-list-slider.name",
	"disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general.name"
    },
    {
      "type": "select",
      "id": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.common.container.fixed"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.common.container.stretched"
        },
        {
          "value": "container-full",
          "label": "t:sections.common.container.fullwidth"
        }
      ],
      "default": "container",
      "label": "t:sections.common.container.label"
    },
    {
      "type": "color_scheme",
      "id": "color_schema",
      "label": "t:sections.common.color_schema.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.name"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.common.header.heading",
      "default": "Collection list slider"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.common.heading-size.label",
      "default": "h2",
      "options": [
        {
          "value": "h3",
          "label": "t:sections.common.heading-size.options.option__0"
        },
        {
          "value": "h2",
          "label": "t:sections.common.heading-size.options.option__1"
        },
        {
          "value": "h1",
          "label": "t:sections.common.heading-size.options.option__2"
        },
        {
          "value": "h0",
          "label": "t:sections.common.heading-size.options.option__3"
        },
        {
          "value": "h-xl",
          "label": "t:sections.common.heading-size.options.option__4"
        }
      ]
    },
    {
			"type": "header",
			"content": "t:sections.collection-list-slider.settings.banner_image.header.content"
		},
    {
      "type": "select",
      "id": "banner_image_ratio",
      "label": "t:settings_schema.global.settings.image_aspect_ratio_options.label",
      "default": "1/1",
      "options": [
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__8.label",
          "value": "adapt"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__2.label",
          "value": "1/1"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__3.label",
          "value": "3/4"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__5.label",
          "value": "4/3"
        }
      ]
    },
    {
			"type": "header",
			"content": "t:sections.common.collection_card.name"
		},
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:settings_schema.global.settings.image_aspect_ratio_options.label",
      "default": "adapt",
      "options": [
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__1.label",
          "value": "adapt"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__2.label",
          "value": "1/1"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__3.label",
          "value": "3/4"
        },
        {
          "label": "t:settings_schema.global.settings.image_aspect_ratio_options.option__5.label",
          "value": "4/3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common.slider.header"
    },
    {
      "type": "select",
      "id": "controls_background",
      "label": "t:sections.common.slider.pagination_background.label",
      "options": [
        {
          "label": "t:sections.common.slider.pagination_background.options.option_1",
          "value": "dark"
        },
        {
          "label": "t:sections.common.slider.pagination_background.options.option_2",
          "value": "light"
        },
        {
          "label": "t:sections.common.slider.pagination_background.options.option_3",
          "value": "none"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "controls_position",
      "label": "t:sections.common.slider.pagination_position_desktop.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.common.slider.pagination_position_desktop.options.option_3"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "t:sections.common.slider.pagination_style.label",
      "options": [
        {
          "label": "t:sections.common.slider.pagination_style.options.option_1",
          "value": "dots"
        },
        {
          "label": "t:sections.common.slider.pagination_style.options.option_2",
          "value": "counter"
        }
      ],
      "default": "counter"
    },
    {
      "type": "header",
      "content": "t:sections.common.section_padding.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.common.section_padding.top_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.common.section_padding.bottom_padding.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.common.custom_attr.header"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "t:sections.common.custom_attr.custom_id"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "t:sections.common.custom_attr.custom_class"
    },
		{
			"type": "header",
			"content": "t:settings_schema.animations.header.content"
		},
		{
			"type": "select",
			"id": "animations",
			"label": "t:settings_schema.animations.header__2.content",
			"default": "inherit",
			"options": [
				{"value": "inherit", "label": "t:settings_schema.animations.settings.animation.options.option_6"},
				{"value": "fade-in", "label": "t:settings_schema.animations.settings.animation.options.option_2"},
				{"value": "fade-in-up", "label": "t:settings_schema.animations.settings.animation.options.option_3"},
				{"value": "fade-in-left", "label": "t:settings_schema.animations.settings.animation.options.option_4"},
				{"value": "fade-in-right", "label": "t:settings_schema.animations.settings.animation.options.option_5"}
			]
		}
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection-tabs.blocks.collection.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": "t:sections.collection-list-slider.blocks.collection.settings.banner_image.label"
        },
        {
          "id": "collection",
          "type": "collection",
          "label": "t:sections.common.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.common.collection.image.label",
          "info": "t:sections.common.collection.image.info"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.common.collection.heading.label",
          "info": "t:sections.common.collection.heading.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list-slider.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
